body {
    color: $primary-text-color;
    font-family: $text-font-stack;
    font-size: 14px;
    letter-spacing: 0.03em;

    img {
            display: block;
            max-width: 100%;
            height: auto;
        }
}

