.button-primary {
    @extend %button;

    padding: 10px 32px;
    
    background-color: $accent-color;
    color: $white-color;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    transition: background-color $transition-duration $transition-timing-function;

    &:hover,
    &focus {
        background-color: $button-hover-color;
    }
    }

    
