.contact-link {
  @extend %a;

  display: flex;
  align-items: center;

  color: $primary-text-color;
  line-height: 1.1428;

  transition: color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;

    & .contact-link__icon {
        fill: currentColor;
    }
  }
}


.contact-link__icon {
  margin-right: 10px;

  fill: currentColor;

  transition: fill $transition-duration $transition-timing-function;
}

.contact-link--colored-line-tall {
  color: $footer-contact-color;
  line-height: 1.71;
}