.employee-card {
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

.employee-card__container {
  padding-top: 30px;
  padding-bottom: 30px;

}

.employee-card__title {
    @extend %h3;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    color: $title-text-color;
}

.employee-card__text {
    @extend %p;

    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.875;
}

