.footer {
    @extend %section;

    background-color: $hero-footer-background-color;
    padding-top: 60px;
    padding-bottom: 60px;

    text-align: center;
    
    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.footer__container {
    align-items: baseline;
    justify-content: space-between;

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.footer__wrap {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
        gap: 70px;
        align-items: baseline;
    }
}

.footer__logo {
    @extend %a;

    margin-bottom: 20px;
    padding: 0;
    display: block;
   
}

.footer__list {
    @extend %ul;

    @media (max-width: 1199px) {
        margin-bottom: 60px;
    }
}

.footer__address {
    font-style: normal;
    color: $primary-text-color;
}

.footer__link {
    @extend %a;

    display: inline-block;

    min-width: 231px;
    color: $white-color;
    line-height: 1.7142;
    letter-spacing: 0.03em;
}

.footer__item {
    font-size: 12px;

    &:not(:last-child) {
        margin-bottom: 8px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }
}


.footer__social-container {
    
    @media (max-width: 767px) {
        margin-bottom: 60px;
    }
}


.footer__social-text {
    @extend %p;

    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white-color;
}