.footer {
    @extend %section;

    background-color: $hero-footer-background-color;
    padding-top: 60px;
    padding-bottom: 60px;

    text-align: center;
}

.footer__container {
    // display: flex;
    align-items: baseline;
    gap: 70px;
}

.footer__logo {
    @extend %a;

    margin-bottom: 20px;
    padding: 0;
    display: block;
   
}

.footer__list {
    @extend %ul;

    @media (max-width: 1199px) {
        margin-bottom: 60px;
    }
}

.footer__address {
    font-style: normal;
    color: $primary-text-color;
}

.footer__link {
    @extend %a;

    display: inline-block;

    min-width: 231px;
    color: $white-color;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer__item {
    text-align: center;
    font-size: 12px;

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}


.footer__social-container {
    
    @media (max-width: 767px) {
        margin-bottom: 60px;
    }
}


.footer__social-text {
    @extend %p;

    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white-color;
    }