.logo {
    @extend %a;

    padding: 10px 0px;

    color: $accent-color;
    font-family: $logo-font-stack;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.6667;

    @media (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.1923;
    }
}

.logo__text {
    color: $logo-color;

    &--inverted {
        color: $white-color;
    }
}
