.services {
    @extend %section;
    display: none;

    
}


.services__title {
    @extend %h2;
    @extend %section-title;

    margin-bottom: 50px;
    }

.services__list {
    @extend %ul;

    display: flex;

.services__item {
    position: relative;

    &:not(:last-child) {
            margin-right: 30px;
            max-width: 370px;
        }
}
}

.services__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;
}

.services__text {
    text-transform: uppercase;
    font-weight: 700;
    color: $white-color;
}