
%h1,
%h2,
%h3,
%p,
%ul {
    margin: 0;
    padding: 0;
}

%ul {
    list-style: none;
}

%a {
    text-decoration: none;
    color: inherit;
}

%button {
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    border: none;
}

%section {
    padding-top: 94px;
    padding-bottom: 94px;
}

%section-title {
    color: $title-text-color;
    font-size: 36px;
    line-height: 1.1667;
    text-align: center;
}
