// Color variables 

$accent-color: #2196f3;
$backdrop-color: rgba(0, 0, 0, 0.2);
$border-color: #eeeeee;
$button-hover-color: #188ce8;
$button-secondary-bg-color: #f5f4fa;
$clients-icons-color: #afb1b8;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$footer-social-link-bg: rgba(255, 255, 255, 0.1);
$form-input-border-color: rgba(33, 33, 33, 0.2);
$hero-footer-background-color: #2f303a;
$logo-color: #000;
$our-team-section-background: #f5f4fa;
$our-team-social-background: #333;
$overlay-color: rgba(47, 48, 58, 0.4);
$portfolio-overlay-bg: rgba(33, 150, 243, 0.9);
$primary-text-color: #757575;
$placeholder-color: rgba(117, 117, 117, 0.5);
$social-icon-color: #afb1b8;
$subscribe-input-color: rgba(255, 255, 255, 0.6);
$title-text-color: #212121;
$white-color: #fff;
$header-border-color: #ececec;

// Animation Variables

  $transition-duration: 250ms;
  $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  // Fonts

    $text-font-stack: 'Roboto', sans-serif;
    $logo-font-stack: 'Raleway', sans-serif;